$primary: #282736;
$secondary: #428DF0;

.storybook__container {
    input {
        box-shadow: rgb(221, 221, 221) 0px 1px 3px inset;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 4px;
        padding: 0.5em 0.6em;
    }
}

input:focus-visible {
    outline: 1px solid $primary !important;
}

input.input-secondary:focus-visible {
    outline: 1px solid $secondary !important;
}

input[type="checkbox"]:checked {
    accent-color: $primary;
}