.filter-list {
    margin: 1rem 0;

    .filter {
        display: inline-block;
        width: auto;
        margin-left: 0.5rem;

        &:first-child {
            margin-left: 0;
        }
    }
}