.flash-message {
    padding: 0.5rem;
    border: 1px solid black;
    background: lightgray;

    &--success {
        background: lightgreen;
        border-color: green;
    }

    &--error {
        background: lightcoral;
        border-color: red;
    }
}