$primary: #282736;
$secondary: #428DF0;

.admin-navbar {
    background-color: $primary;
    color: white;
    padding: 1rem 1rem;
    min-height: 3rem;

    &__logo {
        .logo {
            padding-right: 1rem;
            margin: auto;
            display: block;
        }
    }
}