$primary: #282736;
$secondary: #428DF0;

body {
    margin: 0px;
}

.login-container {
    width: 100vw;
    height: 100vh;

    &__title {
        background-color: $primary;
        font-size: 2.5rem;
        padding: 1rem 0;
        color: $secondary;
    }
}

.login {
    width: 25rem;
    height: 20rem;
    border: 1px solid $primary;
    background-color: $primary;
    color: white;

    legend {
        color: white !important;
    }

    &__form {
        width: 75%;

        input {
            width: 100%;
            margin: 1rem 0 !important;
        }
    }
}