<?php

use Simpco\Framework\View\HeadTag\HtmlPrinter;
use Simpco\Framework\View\ViewInterface;

/** @var ViewInterface view */
/** @var HtmlPrinter printer */

?>
<!DOCTYPE html>

<html>
    <head>
        <?php foreach ($view->getHeadTags() as $tag): ?>
            <?= $printer->print($tag) ?>
        <?php endforeach; ?>
    </head>
    <body>
        <?php $this->includeLayout($view); ?>
    </body>
</html>
