$primary: #282736;
$secondary: #428DF0;
$accent: #DB504A;

.admin-menu {
    background-color: $primary;
    min-height: 100vh;
    color: white;
    text-align: center;
    padding: 1rem 0;

    .pure-menu-link {
        color: white !important;
    }
}

.pure-menu-heading {
    color: white !important;
}

.pure-menu-link:hover {
    background-color: $secondary;
}

.pure-menu {
    &__submenu {
        position: absolute;
        top: 0;
        left: 100%;
        background-color: $secondary;
        opacity: 0;
        transition: opacity 0.1s linear;
        padding: 1rem;
        display: none;

        &__item {
            padding: 1rem;
            & > a {
                text-decoration: none;
                color: white;
            }
        }
    }

    &-item:hover &__submenu {
        opacity: 1;
        display: block;
    }
}