$primary: #282736;
$secondary: #428DF0;
$accent: #DB504A;

.pure-button.pure-button-primary {
    background-color: $primary !important;
}

.pure-button.pure-button-secondary {
    background-color: $secondary !important;
    color: white;
}

.pure-button.pure-button-accent {
    background-color: $accent !important;
    color: white;
}