.pure-u-auto {
  width: auto;
}

.pure-g-right {
  justify-content: right;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.full-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body,
html {
  font-size: 15px;
}

.relative {
  position: relative;
}

.fh {
  height: 100%;
}

.fw {
  width: 100%;
}

.text-center {
  text-align: center;
}

.pure-g-align-center {
  align-content: center !important;
}
