@import 'css.gg/icons/icons.css';   

@font-face {
    font-family: 'Nunito';
    font-weight: 100;
    font-style: normal;
    src: url('./fonts/Nunito/Nunito-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 100;
    font-style: italic;
    src: url('./fonts/Nunito/Nunito-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 300;
    font-style: normal;
    src: url('./fonts/Nunito/Nunito-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 300;
    font-style: italic;
    src: url('./fonts/Nunito/Nunito-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/Nunito/Nunito-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 400;
    font-style: italic;
    src: url('./fonts/Nunito/Nunito-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 600;
    font-style: normal;
    src: url('./fonts/Nunito/Nunito-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 600;
    font-style: italic;
    src: url('./fonts/Nunito/Nunito-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/Nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 700;
    font-style: italic;
    src: url('./fonts/Nunito/Nunito-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: normal;
    src: url('./fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 900;
    font-style: italic;
    src: url('./fonts/Nunito/Nunito-ExtraBoldItalic.ttf') format('truetype');
}

body {
    font-family: 'Nunito';
    font-weight: 400;
    font-style: normal;
}

.h3 {
    font-weight: 700;
    font-size: 1.4rem;
}

.pure-u-auto {
    width: auto;
}

.pure-g-right {
    justify-content: right;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.full-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body, html {
    font-size: 15px;
}

.relative {
    position: relative;
}

.fvh {
    height: 100vh;
}

.fh {
    height: 100%;
}

.fw {
    width: 100%;
}

.floatr {
    float: right;
}

.text-center {
    text-align: center;
}

.pure-g-align-center {
    align-content: center !important;
}
