.storybook {
    &__container {
        padding: 0 1rem;
    }
}

.elements {
    &__group {
        &__item {
            border-bottom: 1px solid gray;
            padding: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
}

.elements__group__item__elements__element {
    &__desc {
        padding-bottom: 0.5rem;
    }

    pre {
        background-color: black;
        color: white;
        padding: 0.8rem;
        max-width: 100%;
        overflow-x: scroll;
    }

    border-bottom: 1px solid lightgray;
    margin-bottom: 1rem;
}

.storybook__container {
    max-width: 100vw;
    overflow-x: hidden;

    .pure-menu-link {
        color: black;
    }
}